<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>混合验证</h1>
    <hr/>
    <form method="post" action="/register.html">
        <div>
            {% raw form.username %}
            <span>{{form.error_dict.get('username',"")}}</span>
        </div>
        <div>
            {% raw form.password %}
            <span>{{form.error_dict.get('password',"")}}</span>
        </div>
        <div>
            {% raw form.age %}
            <span>{{form.error_dict.get('age',"")}}</span>
        </div>
        <div>
            {% raw form.gender %}
            <span>{{form.error_dict.get('gender',"")}}</span>
        </div>
        <div>
            {% raw form.email %}
            <span>{{form.error_dict.get('email',"")}}</span>
        </div>
        <div>
            {% raw form.city %}
            <span>{{form.error_dict.get('city',"")}}</span>
        </div>
        <div>
            {% raw form.protocol %} 协议
            <span>{{form.error_dict.get('protocol',"")}}</span>
        </div>
        <div>
            {% raw form.memo %}
            <span>{{form.error_dict.get('memo',"")}}</span>
        </div>

        <input type="submit" value="提交"/>
    </form>
</body>
</html>